<div class="container my-4 p-5">
    <div class="row">
        <div class="col-12 col-md-6">
            <h5> Contexte </h5>
            Itacante est un monde composé de 10 étages dans lesquels 12 Royaumes vivent indépendamment :
            <ul>
                <li>Mézoïde : un monde équivalent à un monde préhistorique</li>
                <li>Les Rocheuses : un monde ou la lumière du soleil n'existe pas et composé uniquement de cavernes</li>
                <li>Tagata : un monde classique Fantasy</li>
                <li>Ôland : un monde régit uniquement par les jeux, de la politique à l'économie en passant par la résolution de conflits</li>
                <li>Les îles perdues : un monde composée d'îles volantes et peuplée d'immenses super-créatures</li>
                <li>Big Blue : un monde composé à 100% d'océan</li>
                <li>Le désert Larmoyant : un désert à perte de vue inspiré de l'Égypte antique</li>
                <li>Le paradis et l'enfer : Là où se retrouvent les âmes des morts selon si leur vie à été vertueuse ou non</li>
                <li>Death et Life Lands : des mondes absoluments opposés au niveau des créatures les peuplants mais identiques au niveau géographiques</li>
                <li>Archaïa : La résidence de la majorité des dieux ainsi que du tout premier peuple apparu en Itacante : Les Archaïens</li>
            </ul>
        </div>
        <div class="col-12 col-md-5 offset-md-1">
            <img src="./assets/media/structure-tacante.jpg" class="img-fluid" alt="Structure d'Itacante">
        </div>
    </div>
</div>
