@import url("../media/tavern-wall.jpg");
@import  '../../node_modules/system-font-css/_system-font';
@font-face {
  font-family: "Aladin";
  src: url("/static/fonts/Aladin-Regular.ttf");
}
body {
  min-height: 100vh;
  font-family: 'Aladin';
  font-size: 17px;
  background-image: url("../media/tavern-wall.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav, .offcanvas, body {
  background-color: black;
}

header img {
  float: left;
  width: 100%;
  height: auto;
}

main .container {
  border: 3px solid #9B3325;
  border-radius: 20px;
  background-color: #EBD6A7;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}